body {

}
@import url('https://fonts.googleapis.com/css?family=PT+Serif|Roboto+Slab');
h1 {
  font-family: "PT Serif";
  font-size: 3rem;
  border-color: black;
  border-width: 0.5rem;
  border-style: solid;
  background-color: gray;
  box-sizing: border-box;
  width: 30%;
  margin: 0 auto;
  text-align: center;
}
h2 {
  font-family: "Roboto Slab";
  font-style: solid;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto;
  border-style: solid;
  background-color: gray;
  text-align: center;
  padding: 1%;
  box-sizing: border-box;
  border-width: 0.5rem;
  width: 20%;

}
p {
  font-family: "PT Serif";
  font-size: 1rem;
  display: block;
  margin: 0 auto;
  padding: 1%;
  border-style: solid;


  background-color: gray;

  width: 50%;
}
footer {
  font-family: "PT Serif";
  border-style: solid;
  margin: 0 auto;
  padding: 1%;
  background-color: gray;
  border-width: 0.5rem;
  font-size: 1rem;
  text-align: center;
  width: 20%;

}
img {

}

div {
  font-size: 3rem;
}
li {
  font-size: 1.5rem;
}
a {
  font-size: 1.5rem;
  border-style: solid;
  background-color: white;

  text-align: center;



  width: 30%;

  margin: 0 auto;
  display: block;
}
body {
  background-image: url("http://2.bp.blogspot.com/-fyno0zsYo5A/Vkf9Xe9d-7I/AAAAAAAE6Ic/Zxs0T-UwLAM/s16000/0003-026.jpg");
  margin: 0;
}
#logo {
  margin: 0 auto;
  display: block;
}
.fa-instagram {
  color: blue;
  font-size: 3rem;
  text-align: center;

}
.fa-youtube {
  color: red;
  font-size: 3rem;
  text-align: center;
}
#youtube {
  text-align: center;
}
nav {

  text-align: center;
  border-top: solid black 1rem;
  border-bottom: solid black 1rem;
  padding: 6rem;
background-image: url("http://4.bp.blogspot.com/-SedFcDIxVME/VknYgBQBKsI/AAAAAAAAHo0/PmqVpc8qtMo/s1600/namek_grasslands.png");
}
ul {


}
